

<h2 class="text-center p-4">Neue Note Hinzufügen</h2>

<div class="text-center">
	<button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#gradeModal">
		Neue Note hinzufügen
	</button>
</div>

<div class="modal fade" id="gradeModal" tabindex="-1" aria-labelledby="gradeModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="gradeModalLabel">Neue Note Hinzufügen</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Schließen"></button>
            </div>
            <div class="modal-body">
                <form>
                    <div class="mb-3">
                        <label for="studentId" class="form-label">Name des Schülers</label>
                        <select class="form-select" id="studentId" @bind="@NewGrade.StudentId">
                            @foreach (var b in students)
                            {
                                <option value="@b.Id">@b.FullName</option>
                            }
                        </select>
                    </div>
                    <div class="mb-3">
                        <label for="teacherId" class="form-label">Name der Lehrperson</label>
                        <select class="form-select" id="teacherId" @bind="@NewGrade.StudentId">
                            @foreach (var b in teachers)
                            {
                                <option value="@b.Id">(@b.Vorname @b.Nachname)</option>
                            }
                        </select>
                    </div>
                    <div class="mb-3">
                        <label for="principalName" class="form-label">Name des Rektors</label>
                        <select class="form-select" id="studentId" @bind="@NewGrade.StudentId">
                            @foreach (var b in vices)
                            {
                                <option value="@b.Id">(@b.Vorname @b.Nachname)</option>
                            }
                        </select>
                    </div>
                    <div class="mb-3">
                        <label for="module" class="form-label">Modul</label>
                        <select class="form-select" id="studentId" @bind="@NewGrade.StudentId">
                            @foreach (var b in modules)
                            {
                                <option value="@b.Id">@b.Name</option>
                            }
                        </select>
                    </div>
                    <div class="mb-3">
                        <label for="examDate" class="form-label">Datum der Prüfung</label>
                        <input type="date" class="form-control" id="examDate">
                    </div>
                    <div class="mb-3">
                        <label for="grade" class="form-label">Note</label>
                        <input type="number" class="form-control" id="grade">
                    </div>
                    <div class="mb-3">
                        <label for="late" class="form-label">Verspätet?</label>
                        <select class="form-select" id="late">
                            <option value="Nein">Nein</option>
                            <option value="Ja">Ja</option>
                        </select>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-success">Neue Note erstellen</button>
                <button type="button" class="btn btn-primary" data-bs-dismiss="modal">Erfassen</button>
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Schließen</button>
            </div>
        </div>
    </div>
</div>


  <div class="container py-4">
    <h1 class="h4 mb-3">Übersicht der Abgaben</h1>

    <table class="table mt-4">
        <thead>
            <tr>
                <th>Schüler Name</th>
                <th>Modul</th>
                <th>Prorektor</th>
                <th>Status Abgabe</th>
                <th>Note</th>
                <th>Datum</th>
                <th>Endstatus</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>Max Muster</td>
                <td>Mathematik</td>
                <td>Herr Müller</td>
                <td>Nicht verspätet</td>
                <td>6</td>
                <td>12.12.2025</td>
                <td>Erfasst</td>
            </tr>
            <tr>
                <td>Anna Beispiel</td>
                <td>Englisch</td>
                <td>Frau Schmidt</td>
                <td>Verspätet!</td>
                <td>5</td>
                <td>10.11.2025</td>
                <td>Anfrage gestellt</td>
            </tr>
            <tr>
                <td>Peter Demo</td>
                <td>Physik</td>
                <td>Herr Keller</td>
                <td>Nicht verspätet</td>
                <td>4.5</td>
                <td>05.10.2025</td>
                <td>Erfasst</td>
            </tr>
        </tbody>
    </table>
  </div>