<h2 class="text-center p-4">Noten</h2>


<div class="row pb-3">
	<div class="col-1"></div>
	<button class="btn btn-primary col-2">Suchen</button>
	<div class="col-2"></div>
	<input class="col-6" />
</div>

<table class="table mt-4">
	<thead>
		<tr>
			<th>Schüler Name</th>
			<th>Modul</th>
			<th>Prorektor</th>
			<th>Status Abgabe</th>
			<th>Note</th>
			<th>Bemerkung</th>
			<th>Datum</th>
			<th>Endstatus</th>
		</tr>
	</thead>
	<tbody>
		@foreach (var grade in grades)
		{
			<tr>
				<td>@students[grade.StudentId - 1].FullName</td>
				<td>@modules[grade.ModuleId - 1].Name</td>
				<td>@teachers[grade.TeacherId - 1].Nachname @teachers[grade.TeacherId - 1].Vorname</td>
				<td>@grade.Delayed</td>
				<td>@grade.NewGrade</td>
				<td>@grade.Remarks</td>
				<td>@grade.TestDate</td>
				<td>@grade.Status</td>
			</tr>
		}
	</tbody>
</table>