@page "/gestellte-anfragen"

<h2 class="text-center">Gestellte Anfragen</h2>

<table class="table mt-4">
    <thead>
        <tr>
            <th>Schüler</th>
            <th>Note</th>
            <th>Lehrer</th>
            <th>Prüfungs Datum</th>
            <th>Ansicht</th>
        </tr>
    </thead>
    <tbody>
        @if (delayedGrades != null && delayedGrades.Any())
        {
            @foreach (var grade in delayedGrades)
            {
                <tr>
                    <td>@students.First(s => s.Id == grade.StudentId).FullName</td>
                    <td>@grade.NewGrade</td>
                    <td>
                        @{
                            var teacher = teachers.First(t => t.Id == grade.TeacherId);
                        }
                        @teacher.Vorname @teacher.Nachname
                    </td>
                    <td>@grade.TestDate</td>
                    
                    <td>
                        <button class="btn btn-primary">Ansicht</button>
                    </td>
                </tr>
            }
        }
        else
        {
            <tr>
                <td colspan="6" class="text-center text-muted">
                    Keine verspäteten Anfragen vorhanden
                </td>
            </tr>
        }
    </tbody>
</table>
