<h2 class="text-center">Posteingang</h2>

@foreach (var grade in inboxGrades)
{
    <div class="container mt-4">
        <div class="card @(grade.Status == "Akzeptiert" ? "border-success" : "border-danger")">
            <div class="card-header @(grade.Status == "Akzeptiert" ? "bg-success" : "bg-danger") text-white">
                Note @grade.Status
            </div>

            <div class="card-body">
                <p class="card-text">
                    <strong>Schüler Name:</strong> @students.First(s => s.Id == grade.StudentId).FullName<br>
                    <strong>Modul:</strong> @modules.First(m => m.Id == grade.ModuleId).Name<br>
                    <strong>Verspätet:</strong> @(grade.Delayed ? "Ja" : "Nein")<br>
                    <strong>Note:</strong> @grade.NewGrade<br>
                    <strong>Begründung:</strong> @grade.DecisionRemark<br>
                    <span class="badge @(grade.Status == "Akzeptiert" ? "bg-success" : "bg-danger")">
                        Note @grade.Status
                    </span>
                </p>
            </div>
        </div>
    </div>
}
